.stories-search {
  padding: 1rem;
  width: 80%;
  font-size: 1.1rem;
  margin: auto;
  border-radius: 1rem;
  background-color: var(--primary-stories-bg-color);
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.stories-search-button {
  border: 1px solid var(--primary-stories-color);
  background-color: var(--primary-stories-color);
}

.stories-search-button:hover {
  border: 1px solid var(--secondary-stories-color);
  background-color: var(--secondary-stories-color);
}
