@import './main.css';

.recommendation-form {
  display: flex;
  flex-direction: column;
  flex: 50;
}

.inputs {
  padding: 1.5rem;
  width: 40%;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-background-color);
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-button {
  width: 40%;
  margin: auto;
}
